<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/stock?characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="860426"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/stock/dao/Player.hbm.xml</value>
				<value>com/stock/dao/Bshistory.hbm.xml</value>
				<value>com/stock/dao/Cjhistory.hbm.xml</value>
				<value>com/stock/dao/Stockpricehistory.hbm.xml</value>
				<value>com/stock/dao/Bag.hbm.xml</value>
				<value>com/stock/dao/Stock.hbm.xml</value>
				<value>com/stock/dao/Dline.hbm.xml</value>
				<value>com/stock/dao/Mline.hbm.xml</value>
				<value>com/stock/dao/Wline.hbm.xml</value>
				<value>com/stock/dao/Hline.hbm.xml</value>
				<value>com/stock/dao/Tenplayer.hbm.xml</value>
				<value>com/stock/dao/News.hbm.xml</value>
				<value>com/stock/dao/Achievement.hbm.xml</value>
				<value>com/stock/dao/Profit.hbm.xml</value>
				<value>com/stock/dao/Notice.hbm.xml</value>
				<value>com/stock/dao/Companyinfo.hbm.xml</value>
				<value>com/stock/dao/Bank.hbm.xml</value>
				<value>com/stock/dao/Config.hbm.xml</value>
				<value>com/stock/dao/Ipo.hbm.xml</value>
				<value>com/stock/dao/Chongzhilog.hbm.xml</value></list>
		</property></bean>
		
	<!-- spring 事务管理 start-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRES_NEW" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="allservice"
			expression="execution(public * com.stock.services.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allservice" />
	</aop:config>
	<!-- spring 事务管理 end-->
	
	
	<bean id="PlayerDAO" class="com.stock.dao.PlayerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BshistoryDAO" class="com.stock.dao.BshistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CjhistoryDAO" class="com.stock.dao.CjhistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StockpricehistoryDAO"
		class="com.stock.dao.StockpricehistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BagDAO" class="com.stock.dao.BagDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StockDAO" class="com.stock.dao.StockDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DlineDAO" class="com.stock.dao.DlineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MlineDAO" class="com.stock.dao.MlineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="WlineDAO" class="com.stock.dao.WlineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HlineDAO" class="com.stock.dao.HlineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TenplayerDAO" class="com.stock.dao.TenplayerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="stockService"
		class="com.stock.services.StockService">
		<property name="stockDao">
			<ref bean="StockDAO" />
		</property>
		<property name="playerDao">
			<ref bean="PlayerDAO" />
		</property>
		<property name="bshistoryDao">
			<ref bean="BshistoryDAO" />
		</property>
		<property name="bagDao">
			<ref bean="BagDAO" />
		</property>
	</bean>
	<bean id="NewsDAO" class="com.stock.dao.NewsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="AchievementDAO" class="com.stock.dao.AchievementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="ProfitDAO" class="com.stock.dao.ProfitDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="NoticeDAO" class="com.stock.dao.NoticeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="CompanyinfoDAO" class="com.stock.dao.CompanyinfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="BankDAO" class="com.stock.dao.BankDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ConfigDAO" class="com.stock.dao.ConfigDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="IpoDAO" class="com.stock.dao.IpoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ChongzhilogDAO" class="com.stock.dao.ChongzhilogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="lineService"
		class="com.stock.services.LineService">
		<property name="mlineDao">
			<ref bean="MlineDAO" />
		</property>
		<property name="hlineDao">
			<ref bean="HlineDAO" />
		</property>
		<property name="dlineDao">
			<ref bean="DlineDAO" />
		</property>
		<property name="wlineDao">
			<ref bean="WlineDAO" />
		</property>
	</bean>
	
	<bean id="playerService"
		class="com.stock.services.PlayerService">
		<property name="playerDao">
			<ref bean="PlayerDAO" />
		</property>
		<property name="bagDao">
			<ref bean="BagDAO" />
		</property>
		<property name="chongzhilogDao">
			<ref bean="ChongzhilogDAO" />
		</property>
		<property name="stockDao">
			<ref bean="StockDAO" />
		</property>	
	</bean>
	
	<bean id="cjhistoryService"
		class="com.stock.services.CjhistoryService">
		<property name="cjhistoryDao">
			<ref bean="CjhistoryDAO" />
		</property>
	</bean>
	
	<bean id="bshistoryService"
		class="com.stock.services.BshistoryService">
		<property name="bshistoryDao">
			<ref bean="BshistoryDAO" />
		</property>
	</bean>
	<bean id="bagService"
		class="com.stock.services.BagService">
		<property name="bagDao">
			<ref bean="BagDAO" />
		</property>
	</bean>
	<bean id="stockInfoService"
		class="com.stock.services.StockInfoService">
		<property name="tenplayerDao">
			<ref bean="TenplayerDAO" />
		</property>
		<property name="noticeDao">
			<ref bean="NoticeDAO" />
		</property>
		<property name="newsDao">
			<ref bean="NewsDAO" />
		</property>
		<property name="profitDao">
			<ref bean="ProfitDAO" />
		</property>
		<property name="achievementDao">
			<ref bean="AchievementDAO" />
		</property>
		<property name="companyinfoDao">
			<ref bean="CompanyinfoDAO" />
		</property>
	</bean>
	
	<bean id="bankService"
		class="com.stock.services.BankService">
		<property name="playerDao">
			<ref bean="PlayerDAO" />
		</property>
		<property name="bankDao">
			<ref bean="BankDAO" />
		</property>
		<property name="configDao">
			<ref bean="ConfigDAO" />
		</property>
		<property name="stockDao">
			<ref bean="StockDAO" />
		</property>
		<property name="bagDao">
			<ref bean="BagDAO" />
		</property>
	</bean>
	
	<bean id="newsService"
		class="com.stock.services.NewsService">
		<property name="newsDao">
			<ref bean="NewsDAO" />
		</property>
	</bean>
	
	<bean id="configService"
		class="com.stock.services.ConfigService">
		<property name="configDao">
			<ref bean="ConfigDAO" />
		</property>
	</bean>
	
	<bean id="ipoService"
		class="com.stock.services.IpoService">
		<property name="ipoDao">
			<ref bean="IpoDAO" />
		</property>
		<property name="playerDao">
			<ref bean="PlayerDAO" />
		</property>
		<property name="bagDao">
			<ref bean="BagDAO" />
		</property>
	</bean></beans>