<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/stock?characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="860426"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/stock/dao/Player.hbm.xml</value>
				<value>com/stock/dao/Bshistory.hbm.xml</value>
				<value>com/stock/dao/Cjhistory.hbm.xml</value>
				<value>com/stock/dao/Stockpricehistory.hbm.xml</value>
				<value>com/stock/dao/Bag.hbm.xml</value>
				<value>com/stock/dao/Stock.hbm.xml</value>
				<value>com/stock/dao/Kline.hbm.xml</value></list>
		</property></bean>
		
	<!-- spring 事务管理 start-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRES_NEW" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="allservice"
			expression="execution(public * com.stock.services.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allservice" />
	</aop:config>
	<!-- spring 事务管理 end-->
	
	
	<bean id="PlayerDAO" class="com.stock.dao.PlayerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BshistoryDAO" class="com.stock.dao.BshistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CjhistoryDAO" class="com.stock.dao.CjhistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StockpricehistoryDAO"
		class="com.stock.dao.StockpricehistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BagDAO" class="com.stock.dao.BagDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StockDAO" class="com.stock.dao.StockDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="KlineDAO" class="com.stock.dao.KlineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="stockService"
		class="com.stock.services.StockService">
		<property name="stockDao">
			<ref bean="StockDAO" />
		</property>
		<property name="playerDao">
			<ref bean="PlayerDAO" />
		</property>
		<property name="bshistoryDao">
			<ref bean="BshistoryDAO" />
		</property>
	</bean>
	
	<bean id="klineService"
		class="com.stock.services.KlineService">
		<property name="klineDao">
			<ref bean="KlineDAO" />
		</property>
	</bean>
	
	</beans>